:root {
  --document: Arial, sans-serif;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

@media print {
body {
  font-family: var(--document);
}

table {
  margin: 0 auto;
}

.heading, .name, .objective, thead, tbody {
  text-align: center;
}

.row, .statement {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

}
