:root {
  --document: Arial, sans-serif;
  --left: left;
  --zero: 0;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

@media print {
  html {
    font-family: var(--document);
  }
  
  html, body, p, div, table, thead, tbody, th, td {
    margin: var(--zero) auto;
    padding: var(--zero);
    box-sizing: border-box;
  }

  .heading, .name, .objective, thead, tbody {
    text-align: center;
  }

  .row, .statement {
    text-align: var(--left);
  }

  .left {
    float: var(--left);
  }

  .right {
    float: right;
  }

  .clearfix {
    clear: both;
  }
}
