:root {
  --document: Arial, sans-serif;
}

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

@media print {
  html {
    font-family: var(--document);
  }
  
  html, body, p, div, table, thead, tbody, th, td {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .heading, .name, .objective, thead, tbody {
    text-align: center;
  }

  .row, .statement {
    text-align: left;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clearfix {
    clear: both;
  }
}
